$breakPoints: (
  xs: '320px',
  sm: '375px',
  md: '425px',
  lg: '768px',
  xl: '1024px',
  xxl: '1440px',
  4k: '2560px',
);
@mixin device($id) {
  @media (min-width: map-get($breakPoints, $id)) {
    @content;
  }
}
