{
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": false,
  "arrowParens": "always"
}
