.main {
  position: relative;
}
.overview {
  position: absolute;
  right: var(--x-gutter);
  bottom: 0;
  z-index: 1;
  font-weight: 700;
  color: var(--x-progress-fg);
  line-height: 2rem;
  font-family: 'Arial Black', sans-serif, monospace;
  text-shadow: 0 1px 1px #000;
}
.precent {
  left: var(--x-gutter);
  right: auto;
}
.shell {
  position: relative;
  display: flex;
  width: 100%;
  height: 2rem;
  background: var(--x-progress-bg);
  border-radius: var(--x-radius);
  padding: 0.3rem;
}
.value {
  position: relative;
  transition: width 0.5s;
  border-radius: var(--x-gutter);
  background-color: var(--x-progress-value-bg);
  overflow: hidden;
  box-shadow: var(--x-progress-value-box-shadow);
  &::after,
  &::before {
    position: absolute;
    content: '';
    top: 0;
    height: 61.8%;
    width: 100%;
    border-radius: 0 0 50% 50%;
    background: var(--x-progress-value-after-bg);
  }
  &::before {
    background: var(--x-progress-value-before-bg);
    opacity: 1;
    height: 1px;
    border-radius: 0;
  }
}
