@use '../../Style/components/device.scss' as m;
.des {
  padding: calc(var(--x-gutter) / 2) var(--x-gutter);
  background-color: var(--x-card-des-bg);
  color: var(--x-card-des-fg);
  border-radius: var(--x-radius);
  margin-bottom: var(--x-gutter);
}
.link {
  &::before {
    content: '👆 ';
  }
}
.ruby {
  background: var(--x-benchmark-ruby-bg);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  rt {
    font-size: 0.75rem;
    opacity: 0.5;
  }
  &[data-is-result] {
    font-weight: bold;
  }
}
.error {
  padding: var(--x-gutter);
}
.title {
  word-break: normal;
  padding: calc(var(--x-gutter) / 2) 0;
  flex: 0 0 8rem;
  color: var(--x-card-title-fg);
  @include m.device(sm) {
    flex: 0 0 9rem;
  }
  @include m.device(md) {
    flex: 0 0 10rem;
  }
  @include m.device(lg) {
    flex: 0 0 11rem;
  }
}
.group {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px dashed var(--x-card-border-color);
  &:hover {
    background: var(--x-card-bg-hover);
  }
}
.content {
  flex-grow: 1;
  padding: calc(var(--x-gutter) / 2) 0;
}
.fieldset {
  position: relative;
  border: 5px solid var(--x-card-border-color);
  border-radius: calc(var(--x-gutter) * 1.5);
  background: var(--x-card-bg);
  margin-bottom: calc(var(--x-gutter) * 1.5);
  padding: calc(var(--x-gutter) * 1.5) 0 0;
  box-shadow: var(--x-card-box-shadow);
  scroll-margin-top: 50px;
}
.body {
  padding: 0 calc(var(--x-gutter) / 2);
  @include m.device(md) {
    padding: 0 var(--x-gutter);
  }
}
.arrow {
  color: var(--x-card-title-fg);
  padding: 0 0.5rem;
  cursor: pointer;
  opacity: 0.5;
  &:active,
  &:hover {
    text-decoration: none;
    opacity: 1;
    color: var(--x-card-title-fg);
  }
  &[data-disabled],
  &[data-disabled]:hover {
    cursor: not-allowed;
    opacity: 0.1;
  }
}
.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  background: var(--x-card-legend-bg);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  color: var(--x-card-legend-fg);
  margin: 0 auto;
  white-space: nowrap;
}
.legendText {
  padding: 0 0.5rem;
}
.multiItemContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -0.2rem;
}
