.h1 {
  background: var(--x-title-bg);
  position: fixed;
  top: 0;
  left: 50%;
  justify-content: center;
  text-align: center;
  margin: 0;
  min-width: 60vw;
  width: 50vw;
  font-size: var(--x-gutter);
  line-height: 1;
  border-radius: 0 0 var(--x-radius) var(--x-radius);
  z-index: 10;
  box-shadow: var(--x-title-box-shadow);
  transform: translateX(-50%);
}
.link {
  display: block;
  padding: var(--x-gutter);
  color: var(--x-title-fg);
  &:hover {
    color: var(--x-title-fg);
  }
}
