@import "~components/Style/src/components/style/config";
@import "~components/Style/src/components/style/media-query";

$flexWidth: percentage(1 / 2);

.inn-network-stats {
  flex: 0 0 50%;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
  }
}

.inn-networkStats-group {
  &__content {
    @include mq(lg) {
      display: flex;
      align-items: center;
      justify-content: center;
    }


    text-align: center;
  }

  &__container {
    @include mq(lg) {
      flex: 0 0 $flexWidth;
    }
  }

  &__label {
    text-decoration: underline;

    @include mq(lg) {
      flex: 0 0 $flexWidth;
      text-align: center;
    }
  }
}

.inn-networkStats-mod {
  &__body {
    @include mq(lg) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.inn-network-stats {
  &__container {
    flex-grow: 1;
  }

  &__rx,
  &__tx {
    &__rate {
      font-family: 'Arial Black';
    }
  }
}
