@import "~components/Style/src/components/style/config";
@import "~components/Style/src/components/style/media-query";

.inn-forkme {
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    color: rgba(#fff, 0.8);
    font-family: 'Arial Black';
    padding: ($gridGutter / 3) 2rem;
    transform: rotate(-45deg) translate(-30%, -50%);
    font-size: .7rem;
    box-shadow: 0 3px 5px rgba(#000, 0.3);

    &:before,
    &:after {
      position: absolute;
      left: 0;
      top: 1px;
      height: 0.5px;
      width: 100%;
      background: linear-gradient(to right, rgba(#fff, 0), #fff, rgba(#fff, 0));
      content: '';
    }

    &:after {
      top: auto;
      bottom: 1px;
    }

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    @include mq(lg) {
      font-size: 1rem;
      transform: rotate(-45deg) translate(-30%, -10%);
    }
  }
}
