@import "~components/Style/src/components/style/config";
@import "~components/Style/src/components/style/media-query";
@import "./forkme";

.inn-footer {
  background: $colorDark;
  color: $colorTextLight;
  width: 60%;
  border-radius: 10rem;

  @include mq(lg) {
    text-align: center;
    margin: ($gridGutter * 2) auto ($gridGutter * 5);
    padding: ($gridGutter * 0.5) $gridGutter;
  }


  a {
    color: $colorTextLightLink;

    &:hover {
      text-decoration: underline;
    }
  }
}
