@import "~components/Style/src/components/style/config";
@import "~components/Style/src/components/style/media-query";
@import "./forkme";

.inn-footer {
  text-align: center;
  padding: ($gridGutter * 0.5) $gridGutter;
  margin: ($gridGutter * 2) auto ($gridGutter * 2);

  @include mq(lg) {
    background: $colorDark;
    color: $colorTextLight;
    width: 60%;
    border-radius: $borderRadius;
  }


  a {
    @include mq(lg) {
      color: $colorTextLightLink;
    }


    &:hover {
      text-decoration: underline;
    }
  }
}
