// color
$colorDark: #333 !default;
$colorLight: #eee !default;

$colorBg: #f8f8f8 !default;

// text
$colorTextLight: #ccc !default;
$colorTextLightLink: #fff !default;

// grid
$breakpoints: (xs: 0, sm: 579px, md: 768px, lg: 992px, xl: 1200px);
$gridWidthGutter: 20px !default;
$gridWidthXl: map-get($breakpoints, xl) - $gridWidthGutter !default;
$gridWidthLg: map-get($breakpoints, lg) - $gridWidthGutter !default;
$gridWidthMd: map-get($breakpoints, md) - $gridWidthGutter !default;
$gridWidthSm: map-get($breakpoints, sm) - $gridWidthGutter !default;
$gridColumns: 12 !default;
$gridGutter: 1rem !default;
$gridGutterXs: $gridGutter / 2 !default;

$inlineShadow: inset 0 5px 10px rgba(#000, 0.3) !default;

$borderRadius: 1rem !default;
$boxShadow: 0 1px 3px rgba(#000, 0.3) !default;
$boxShadowBottomInline: -1px -1px 0 rgba(#000, 0.1) !default;
$boxShadowBottomOutline: 1px 1px 0 rgba(#fff, 0.5) !default;
